<h1>Users</h1>
 
 <%= link_to 'New user', new_user_path, class: "link-primary"%> 
<table class="table table-success table-striped">
  <tr>
    <th class="col">Name</th>
    <th class="col">Email</th>
    <th colspan="3" ></th>
  </tr>
 
  <% @users.each do |user| %>
    <tr>
      <td><%= user.name %></td>
      <td><%= user.email %></td>
      <td><%= link_to 'Show', user_path(user) %></td>
      <td><%= link_to 'Edit', edit_user_path(user) %></td>
      <td><%= link_to 'Destroy', user_path(user),
              data: {turbo_method: :delete, turbo_confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>