<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>
 
<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>



<%= link_to "Подписаться", subscribe_user_path(@user) %><br>
<%= link_to "Отписаться", unsubscribe_user_path(@user) %>
<br>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>