<%= form_with model: @post, local: true do |form| %>
    <p>
        <%= form.label :user_id %><br>
        <%= form.label  @post.user.name %>
    </p>


    <p>
        <%= form.label :title %><br>
        <%= form.text_field :title %>
    </p>
 
    <p>
        <%= form.label :text %><br>
        <%= form.text_area :text %>
    </p>
 
    <p>
        <%= form.submit %>
    </p>
 
<% end %>