<%= form_with model: @post, local: true do |form| %>

    <p>
        <%= form.label :Заголовок %><br>
        <%= form.text_field :title %>
    </p>
 
    <p>
        <%= form.label :Сообщение %><br>
        <%= form.text_area :text %>
    </p>
 
    <p>
        <%= form.submit %>
    </p>
    <%= link_to 'Назад', posts_path %>
 
<% end %>